AISKAO_PUBLIC_WEBAPP/src/Eservices.InformationObjects/Schemes/0009-000200_MunicipalPropertyActIdentifier.xsd

<?xml version="1.0" encoding="utf-8"?>  <xsd:schema targetNamespace="http://ereg.egov.bg/segment/0009-000200"        xmlns="http://ereg.egov.bg/segment/0009-000200"        xmlns:xsd="http://www.w3.org/2001/XMLSchema"        xmlns:mpan="http://ereg.egov.bg/value/0008-000286"        xmlns:mpaid="http://ereg.egov.bg/value/0008-000287"        elementFormDefault="qualified">      <xsd:import namespace="http://ereg.egov.bg/value/0008-000286" schemaLocation="0008-000286_MunicipalPropertyActNumber.xsd"/>    <xsd:import namespace="http://ereg.egov.bg/value/0008-000287" schemaLocation="0008-000287_MunicipalPropertyActIssueDate.xsd"/>      <xsd:complexType name="MunicipalPropertyActIdentifier">      <xsd:annotation>        <xsd:documentation xml:lang="bg">Данни, еднозначно определящи акт за общинска собственост</xsd:documentation>      </xsd:annotation>      <xsd:sequence>        <xsd:element name="Number" type="mpan:MunicipalPropertyActNumber" minOccurs="0" />        <xsd:element name="IssueDate" type="mpaid:MunicipalPropertyActIssueDate" minOccurs="0" />      </xsd:sequence>    </xsd:complexType>    </xsd:schema>