AISKAO_PUBLIC_WEBAPP/src/Eservices.InformationObjects.Xml/Schemas/R-1077_BABHFoodObjectRegistrationCertificate.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema targetNamespace="http://ereg.egov.bg/segment/R-1077" xmlns="http://ereg.egov.bg/segment/R-1077" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:drsd="http://ereg.egov.bg/value/0008-000004" xmlns:dtn="http://ereg.egov.bg/value/0008-000007" xmlns:du="http://ereg.egov.bg/segment/0009-000001" xmlns:espbd="http://ereg.egov.bg/segment/0009-000002" xmlns:dtu="http://ereg.egov.bg/segment/0009-000003" xmlns:xds="http://ereg.egov.bg/segment/0009-000004" xmlns:pn="http://ereg.egov.bg/segment/0009-000005" xmlns:fcn="http://ereg.egov.bg/segment/0009-000007" xmlns:esa="http://ereg.egov.bg/segment/0009-000016" xmlns:fort="http://ereg.egov.bg/value/R-1071" xmlns:fop="http://ereg.egov.bg/value/R-1019" xmlns:foc="http://ereg.egov.bg/value/R-1021" xmlns:formd="http://ereg.egov.bg/value/R-1445" xmlns:babhrdc="http://ereg.egov.bg/value/R-1002" xmlns:babhrdn="http://ereg.egov.bg/value/R-1004" xmlns:fortsd="http://ereg.egov.bg/value/R-1443" xmlns:forted="http://ereg.egov.bg/value/R-1073" xmlns:fon="http://ereg.egov.bg/value/R-1061" xmlns:fora="http://ereg.egov.bg/segment/R-1023" xmlns:r="http://ereg.egov.bg/segment/0009-000142" xmlns:forn="http://ereg.egov.bg/value/R-1075" xmlns:fgl="http://ereg.egov.bg/segment/R-1057" xmlns:acu="http://ereg.egov.bg/segment/0009-000073" elementFormDefault="qualified">
  <xsd:import namespace="http://ereg.egov.bg/value/0008-000004" schemaLocation="0008-000004_DocumentReceiptOrSigningDate.xsd" />
  <xsd:import namespace="http://ereg.egov.bg/value/0008-000007" schemaLocation="0008-000007_DocumentTypeName.xsd" />
  <xsd:import namespace="http://ereg.egov.bg/segment/0009-000001" schemaLocation="0009-000001_DocumentURI.xsd" />
  <xsd:import namespace="http://ereg.egov.bg/segment/0009-000002" schemaLocation="0009-000002_ElectronicServiceProviderBasicData.xsd" />
  <xsd:import namespace="http://ereg.egov.bg/segment/0009-000003" schemaLocation="0009-000003_DocumentTypeURI.xsd" />
  <xsd:import namespace="http://ereg.egov.bg/segment/0009-000004" schemaLocation="0009-000004_XMLDigitalSignature.xsd" />
  <xsd:import namespace="http://ereg.egov.bg/segment/0009-000005" schemaLocation="0009-000005_PersonNames.xsd" />
  <xsd:import namespace="http://ereg.egov.bg/segment/0009-000007" schemaLocation="0009-000007_ForeignCitizenNames.xsd" />
  <xsd:import namespace="http://ereg.egov.bg/segment/0009-000016" schemaLocation="0009-000016_ElectronicServiceApplicant.xsd" />
  <xsd:import namespace="http://ereg.egov.bg/value/R-1071" schemaLocation="R-1071_FoodObjectRegistrationType.xsd" />
  <xsd:import namespace="http://ereg.egov.bg/value/R-1019" schemaLocation="R-1019_FoodObjectPurpose.xsd" />
  <xsd:import namespace="http://ereg.egov.bg/value/R-1021" schemaLocation="R-1021_FoodObjectCategory.xsd" />
  <xsd:import namespace="http://ereg.egov.bg/value/R-1445" schemaLocation="R-1445_FoodObjectRequirementsMetDescription.xsd" />
  <xsd:import namespace="http://ereg.egov.bg/value/R-1002" schemaLocation="R-1002_BABHRegionalDirectionCode.xsd" />
  <xsd:import namespace="http://ereg.egov.bg/value/R-1004" schemaLocation="R-1004_BABHRegionalDirectionName.xsd" />
  <xsd:import namespace="http://ereg.egov.bg/value/R-1443" schemaLocation="R-1443_FoodObjectRegistrationTemporaryStartDate.xsd" />
  <xsd:import namespace="http://ereg.egov.bg/value/R-1073" schemaLocation="R-1073_FoodObjectRegistrationTemporaryEndDate.xsd" />
  <xsd:import namespace="http://ereg.egov.bg/value/R-1061" schemaLocation="R-1061_FoodObjectName.xsd" />
  <xsd:import namespace="http://ereg.egov.bg/segment/R-1023" schemaLocation="R-1023_FoodObjectRealAddress.xsd" />
  <xsd:import namespace="http://ereg.egov.bg/segment/0009-000142" schemaLocation="0009-000142_Residence.xsd" />
  <xsd:import namespace="http://ereg.egov.bg/value/R-1075" schemaLocation="R-1075_FoodObjectRegistrationNumber.xsd" />
  <xsd:import namespace="http://ereg.egov.bg/segment/R-1057" schemaLocation="R-1057_FoodGroupsList.xsd" />
  <xsd:import namespace="http://ereg.egov.bg/segment/0009-000073" schemaLocation="0009-000073_AISCaseURI.xsd"/>
  <xsd:element name="BABHFoodObjectRegistrationCertificate" type="BABHFoodObjectRegistrationCertificate" />
  <xsd:complexType name="BABHFoodObjectRegistrationCertificate">
    <xsd:annotation>
      <xsd:documentation xml:lang="bg">Удостоверение за регистрация на обект за производство и търговия с храни</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="DocumentTypeURI" type="dtu:DocumentTypeURI" minOccurs="0" />
      <xsd:element name="DocumentTypeName" type="dtn:DocumentTypeName" minOccurs="0" />
      <xsd:element name="DocumentURI" type="du:DocumentURI" minOccurs="0" />
      <xsd:element name="DocumentReceiptOrSigningDate" type="drsd:DocumentReceiptOrSigningDate" minOccurs="0" />
      <xsd:element name="ElectronicServiceProviderBasicData" type="espbd:ElectronicServiceProviderBasicData" minOccurs="0" />
      <xsd:element name="ElectronicServiceApplicant" type="esa:ElectronicServiceApplicant" minOccurs="0" />
      <xsd:element name="FoodObjectRegistrationType" type="fort:FoodObjectRegistrationType" minOccurs="0" />
      <xsd:element name="FoodObjectPurpose" type="fop:FoodObjectPurpose" minOccurs="0" />
      <xsd:element name="FoodObjectCategory" type="foc:FoodObjectCategory" minOccurs="0" />
      <xsd:element name="FoodObjectRequirementsMetDescription" type="formd:FoodObjectRequirementsMetDescription" minOccurs="0" />
      <xsd:element name="BABHRegionalDirectionCode" type="babhrdc:BABHRegionalDirectionCode" minOccurs="1" />
      <xsd:element name="BABHRegionalDirectionName" type="babhrdn:BABHRegionalDirectionName" minOccurs="1" />
      <xsd:element name="FoodObjectRegistrationTemporaryStartDate" type="fortsd:FoodObjectRegistrationTemporaryStartDate" minOccurs="0" />
      <xsd:element name="FoodObjectRegistrationTemporaryEndDate" type="forted:FoodObjectRegistrationTemporaryEndDate" minOccurs="0" />
      <xsd:element name="FoodObjectName" type="fon:FoodObjectName" minOccurs="0" />
      <xsd:element name="FoodObjectRealAddress" type="fora:FoodObjectRealAddress" minOccurs="1" />
      <xsd:element name="Residence" type="r:Residence" minOccurs="0" />
      <xsd:element name="FoodObjectRegistrationNumber" type="forn:FoodObjectRegistrationNumber" minOccurs="0" />
      <xsd:element name="FoodGroupsList" type="fgl:FoodGroupsList" minOccurs="0" />
      <xsd:element name="AISCaseURI" type="acu:AISCaseURI" minOccurs="0"/>
      <xsd:element name="Official" minOccurs="0">
        <xsd:complexType>
          <xsd:choice>
            <xsd:element name="PersonNames" type="pn:PersonNames" />
            <xsd:element name="ForeignCitizenNames" type="fcn:ForeignCitizenNames" />
          </xsd:choice>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="XMLDigitalSignature" type="xds:XMLDigitalSignature" minOccurs="0" />
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>