AISKAO_PUBLIC_WEBAPP/src/Eservices.InformationObjects.Xml/Schemas/R-1107_BABHPlantObjectRegistrationCertificate.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema targetNamespace="http://ereg.egov.bg/segment/R-1107" xmlns="http://ereg.egov.bg/segment/R-1107" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:drsd="http://ereg.egov.bg/value/0008-000004" xmlns:dtn="http://ereg.egov.bg/value/0008-000007" xmlns:du="http://ereg.egov.bg/segment/0009-000001" xmlns:espbd="http://ereg.egov.bg/segment/0009-000002" xmlns:dtu="http://ereg.egov.bg/segment/0009-000003" xmlns:xds="http://ereg.egov.bg/segment/0009-000004" xmlns:pn="http://ereg.egov.bg/segment/0009-000005" xmlns:fcn="http://ereg.egov.bg/segment/0009-000007" xmlns:esa="http://ereg.egov.bg/segment/0009-000016" xmlns:babhrdc="http://ereg.egov.bg/value/R-1002" xmlns:babhrdn="http://ereg.egov.bg/value/R-1004" xmlns:poen="http://ereg.egov.bg/segment/R-1103" xmlns:erid="http://ereg.egov.bg/value/R-1101" xmlns:r="http://ereg.egov.bg/segment/0009-000142" xmlns:poan="http://ereg.egov.bg/value/R-1086" xmlns:pot="http://ereg.egov.bg/value/R-1093" xmlns:pora="http://ereg.egov.bg/segment/R-1095" xmlns:porv="http://ereg.egov.bg/value/R-1105" xmlns:acu="http://ereg.egov.bg/segment/0009-000073" elementFormDefault="qualified">
  <xsd:import namespace="http://ereg.egov.bg/value/0008-000004" schemaLocation="0008-000004_DocumentReceiptOrSigningDate.xsd" />
  <xsd:import namespace="http://ereg.egov.bg/value/0008-000007" schemaLocation="0008-000007_DocumentTypeName.xsd" />
  <xsd:import namespace="http://ereg.egov.bg/segment/0009-000001" schemaLocation="0009-000001_DocumentURI.xsd" />
  <xsd:import namespace="http://ereg.egov.bg/segment/0009-000002" schemaLocation="0009-000002_ElectronicServiceProviderBasicData.xsd" />
  <xsd:import namespace="http://ereg.egov.bg/segment/0009-000003" schemaLocation="0009-000003_DocumentTypeURI.xsd" />
  <xsd:import namespace="http://ereg.egov.bg/segment/0009-000004" schemaLocation="0009-000004_XMLDigitalSignature.xsd" />
  <xsd:import namespace="http://ereg.egov.bg/segment/0009-000005" schemaLocation="0009-000005_PersonNames.xsd" />
  <xsd:import namespace="http://ereg.egov.bg/segment/0009-000007" schemaLocation="0009-000007_ForeignCitizenNames.xsd" />
  <xsd:import namespace="http://ereg.egov.bg/segment/0009-000016" schemaLocation="0009-000016_ElectronicServiceApplicant.xsd" />
  <xsd:import namespace="http://ereg.egov.bg/value/R-1002" schemaLocation="R-1002_BABHRegionalDirectionCode.xsd" />
  <xsd:import namespace="http://ereg.egov.bg/value/R-1004" schemaLocation="R-1004_BABHRegionalDirectionName.xsd" />
  <xsd:import namespace="http://ereg.egov.bg/segment/R-1103" schemaLocation="R-1103_PlantObjectExecutingNames.xsd" />
  <xsd:import namespace="http://ereg.egov.bg/value/R-1101" schemaLocation="R-1101_EntityRepresentativeID.xsd" />
  <xsd:import namespace="http://ereg.egov.bg/segment/0009-000142" schemaLocation="0009-000142_Residence.xsd" />
  <xsd:import namespace="http://ereg.egov.bg/value/R-1086" schemaLocation="R-1086_PlantObjectActivityNomenlatyre.xsd" />
  <xsd:import namespace="http://ereg.egov.bg/value/R-1093" schemaLocation="R-1093_PlantObjectType.xsd" />
  <xsd:import namespace="http://ereg.egov.bg/segment/R-1095" schemaLocation="R-1095_PlantObjectRealAddress.xsd" />
  <xsd:import namespace="http://ereg.egov.bg/value/R-1105" schemaLocation="R-1105_PlantObjectRegistrationValidity.xsd" />
  <xsd:import namespace="http://ereg.egov.bg/segment/0009-000073" schemaLocation="0009-000073_AISCaseURI.xsd"/>
  <xsd:element name="BABHPlantObjectRegistrationCertificate" type="BABHPlantObjectRegistrationCertificate" />
  <xsd:complexType name="BABHPlantObjectRegistrationCertificate">
    <xsd:annotation>
      <xsd:documentation xml:lang="bg">Удостоверение за търговия и преопаковане на продукти за растителна защита</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="DocumentTypeURI" type="dtu:DocumentTypeURI" minOccurs="0" />
      <xsd:element name="DocumentTypeName" type="dtn:DocumentTypeName" minOccurs="0" />
      <xsd:element name="DocumentURI" type="du:DocumentURI" minOccurs="0" />
      <xsd:element name="DocumentReceiptOrSigningDate" type="drsd:DocumentReceiptOrSigningDate" minOccurs="0" />
      <xsd:element name="ElectronicServiceProviderBasicData" type="espbd:ElectronicServiceProviderBasicData" minOccurs="0" />
      <xsd:element name="ElectronicServiceApplicant" type="esa:ElectronicServiceApplicant" minOccurs="0" />
      <xsd:element name="BABHRegionalDirectionCode" type="babhrdc:BABHRegionalDirectionCode" minOccurs="1" />
      <xsd:element name="BABHRegionalDirectionName" type="babhrdn:BABHRegionalDirectionName" minOccurs="1" />
      <xsd:element name="PlantObjectExecutingNamess" minOccurs="0">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="PlantObjectExecutingNames" type="poen:PlantObjectExecutingNames" maxOccurs="unbounded" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="EntityRepresentativeID" type="erid:EntityRepresentativeID" minOccurs="0" />
      <xsd:element name="Residence" type="r:Residence" minOccurs="0" />
      <xsd:element name="PlantObjectActivityNomenlatyre" type="poan:PlantObjectActivityNomenlatyre" minOccurs="0" />
      <xsd:element name="PlantObjectType" type="pot:PlantObjectType" minOccurs="0" />
      <xsd:element name="PlantObjectRealAddress" type="pora:PlantObjectRealAddress" minOccurs="1" />
      <xsd:element name="PlantObjectRegistrationValidity" type="porv:PlantObjectRegistrationValidity" minOccurs="0" />
      <xsd:element name="AISCaseURI" type="acu:AISCaseURI" minOccurs="0"/>
      <xsd:element name="Official" minOccurs="0">
        <xsd:complexType>
          <xsd:choice>
            <xsd:element name="PersonNames" type="pn:PersonNames" />
            <xsd:element name="ForeignCitizenNames" type="fcn:ForeignCitizenNames" />
          </xsd:choice>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="XMLDigitalSignature" type="xds:XMLDigitalSignature" minOccurs="0" />
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>