AISKAO_PUBLIC_WEBAPP/src/Eservices.InformationObjects.Xml/Schemas/R-1119_IAMANavigableExperienceCertificateBG.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema targetNamespace="http://ereg.egov.bg/segment/R-1119" xmlns="http://ereg.egov.bg/segment/R-1119" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:drsd="http://ereg.egov.bg/value/0008-000004" xmlns:dtn="http://ereg.egov.bg/value/0008-000007" xmlns:du="http://ereg.egov.bg/segment/0009-000001" xmlns:espbd="http://ereg.egov.bg/segment/0009-000002" xmlns:dtu="http://ereg.egov.bg/segment/0009-000003" xmlns:xds="http://ereg.egov.bg/segment/0009-000004" xmlns:pn="http://ereg.egov.bg/segment/0009-000005" xmlns:fcn="http://ereg.egov.bg/segment/0009-000007" xmlns:esa="http://ereg.egov.bg/segment/0009-000016" xmlns:iamadnbg="http://ereg.egov.bg/value/R-1004" xmlns:nebvbg="http://ereg.egov.bg/segment/R-1091" xmlns:netyc="http://ereg.egov.bg/value/R-1095" xmlns:netmc="http://ereg.egov.bg/value/R-1097" xmlns:netdc="http://ereg.egov.bg/value/R-1099" xmlns:net="http://ereg.egov.bg/value/R-1192" xmlns:spn="http://ereg.egov.bg/value/R-1101" xmlns:spid="http://ereg.egov.bg/value/R-1103" xmlns:sped="http://ereg.egov.bg/value/R-1105" xmlns:hmbg="http://ereg.egov.bg/value/R-1115" elementFormDefault="qualified">
  <xsd:import namespace="http://ereg.egov.bg/value/0008-000004" schemaLocation="0008-000004_DocumentReceiptOrSigningDate.xsd" />
  <xsd:import namespace="http://ereg.egov.bg/value/0008-000007" schemaLocation="0008-000007_DocumentTypeName.xsd" />
  <xsd:import namespace="http://ereg.egov.bg/segment/0009-000001" schemaLocation="0009-000001_DocumentURI.xsd" />
  <xsd:import namespace="http://ereg.egov.bg/segment/0009-000002" schemaLocation="0009-000002_ElectronicServiceProviderBasicData.xsd" />
  <xsd:import namespace="http://ereg.egov.bg/segment/0009-000003" schemaLocation="0009-000003_DocumentTypeURI.xsd" />
  <xsd:import namespace="http://ereg.egov.bg/segment/0009-000004" schemaLocation="0009-000004_XMLDigitalSignature.xsd" />
  <xsd:import namespace="http://ereg.egov.bg/segment/0009-000005" schemaLocation="0009-000005_PersonNames.xsd" />
  <xsd:import namespace="http://ereg.egov.bg/segment/0009-000007" schemaLocation="0009-000007_ForeignCitizenNames.xsd" />
  <xsd:import namespace="http://ereg.egov.bg/segment/0009-000016" schemaLocation="0009-000016_ElectronicServiceApplicant.xsd" />
  <xsd:import namespace="http://ereg.egov.bg/value/R-1004" schemaLocation="R-1004_IAMADirectorateNameBG.xsd" />
  <xsd:import namespace="http://ereg.egov.bg/segment/R-1091" schemaLocation="R-1091_NavigableExperienceByVesselBG.xsd" />
  <xsd:import namespace="http://ereg.egov.bg/value/R-1095" schemaLocation="R-1095_NavigableExperienceTotalYearCount.xsd" />
  <xsd:import namespace="http://ereg.egov.bg/value/R-1097" schemaLocation="R-1097_NavigableExperienceTotalMonthCount.xsd" />
  <xsd:import namespace="http://ereg.egov.bg/value/R-1099" schemaLocation="R-1099_NavigableExperienceTotalDayCount.xsd" />
  <xsd:import namespace="http://ereg.egov.bg/value/R-1192" schemaLocation="R-1192_NavigableExperienceTotal.xsd" />
  <xsd:import namespace="http://ereg.egov.bg/value/R-1101" schemaLocation="R-1101_SeafarerPassportNumber.xsd" />
  <xsd:import namespace="http://ereg.egov.bg/value/R-1103" schemaLocation="R-1103_SeafarerPassportIssueDate.xsd" />
  <xsd:import namespace="http://ereg.egov.bg/value/R-1105" schemaLocation="R-1105_SeafarerPassportExpireDate.xsd" />
  <xsd:import namespace="http://ereg.egov.bg/value/R-1115" schemaLocation="R-1115_HarbourMasterBG.xsd" />
  <xsd:element name="IAMANavigableExperienceCertificateBG" type="IAMANavigableExperienceCertificateBG" />
  <xsd:complexType name="IAMANavigableExperienceCertificateBG">
    <xsd:annotation>
      <xsd:documentation xml:lang="bg">Удостоверение за плавателен стаж на български език</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="DocumentTypeURI" type="dtu:DocumentTypeURI" minOccurs="0" />
      <xsd:element name="DocumentTypeName" type="dtn:DocumentTypeName" minOccurs="0" />
      <xsd:element name="DocumentURI" type="du:DocumentURI" minOccurs="0" />
      <xsd:element name="DocumentReceiptOrSigningDate" type="drsd:DocumentReceiptOrSigningDate" minOccurs="0" />
      <xsd:element name="ElectronicServiceProviderBasicData" type="espbd:ElectronicServiceProviderBasicData" minOccurs="0" />
      <xsd:element name="ElectronicServiceApplicant" type="esa:ElectronicServiceApplicant" minOccurs="0" />
      <xsd:element name="IAMADirectorateNameBG" type="iamadnbg:IAMADirectorateNameBG" minOccurs="0" />
      <xsd:element name="NavigableExperienceByVesselBGs" minOccurs="0">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="NavigableExperienceByVesselBG" type="nebvbg:NavigableExperienceByVesselBG" maxOccurs="unbounded" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="NavigableExperienceTotalYearCount" type="netyc:NavigableExperienceTotalYearCount" minOccurs="0" />
      <xsd:element name="NavigableExperienceTotalMonthCount" type="netmc:NavigableExperienceTotalMonthCount" minOccurs="0" />
      <xsd:element name="NavigableExperienceTotalDayCount" type="netdc:NavigableExperienceTotalDayCount" minOccurs="0" />
      <xsd:element name="NavigableExperienceTotal" type="net:NavigableExperienceTotal" minOccurs="0" />
      <xsd:element name="SeafarerPassportNumber" type="spn:SeafarerPassportNumber" minOccurs="0" />
      <xsd:element name="SeafarerPassportIssueDate" type="spid:SeafarerPassportIssueDate" minOccurs="0" />
      <xsd:element name="SeafarerPassportExpireDate" type="sped:SeafarerPassportExpireDate" minOccurs="0" />
      <xsd:element name="HarbourMasterBG" type="hmbg:HarbourMasterBG" minOccurs="0" />
      <xsd:element name="Official" minOccurs="0">
        <xsd:complexType>
          <xsd:choice>
            <xsd:element name="PersonNames" type="pn:PersonNames" />
            <xsd:element name="ForeignCitizenNames" type="fcn:ForeignCitizenNames" />
          </xsd:choice>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="XMLDigitalSignature" type="xds:XMLDigitalSignature" minOccurs="0" />
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>