AISKAO_PUBLIC_WEBAPP/src/Eservices.InformationObjects.Xml/Schemas/R-1436_BABHFarmObjectRegistrationCertificate.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema targetNamespace="http://ereg.egov.bg/segment/R-1436" xmlns="http://ereg.egov.bg/segment/R-1436" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:drsd="http://ereg.egov.bg/value/0008-000004" xmlns:dtn="http://ereg.egov.bg/value/0008-000007" xmlns:du="http://ereg.egov.bg/segment/0009-000001" xmlns:espbd="http://ereg.egov.bg/segment/0009-000002" xmlns:dtu="http://ereg.egov.bg/segment/0009-000003" xmlns:xds="http://ereg.egov.bg/segment/0009-000004" xmlns:pn="http://ereg.egov.bg/segment/0009-000005" xmlns:fcn="http://ereg.egov.bg/segment/0009-000007" xmlns:esa="http://ereg.egov.bg/segment/0009-000016" xmlns:fora="http://ereg.egov.bg/value/R-1422" xmlns:babhrdc="http://ereg.egov.bg/value/R-1002" xmlns:babhrdn="http://ereg.egov.bg/value/R-1004" xmlns:ahad="http://ereg.egov.bg/segment/R-1372" xmlns:fon="http://ereg.egov.bg/value/R-1374" xmlns:babhaod="http://ereg.egov.bg/segment/R-1420" xmlns:babhfoad="http://ereg.egov.bg/segment/R-1434" xmlns:acu="http://ereg.egov.bg/segment/0009-000073" elementFormDefault="qualified">
  <xsd:import namespace="http://ereg.egov.bg/value/0008-000004" schemaLocation="0008-000004_DocumentReceiptOrSigningDate.xsd" />
  <xsd:import namespace="http://ereg.egov.bg/value/0008-000007" schemaLocation="0008-000007_DocumentTypeName.xsd" />
  <xsd:import namespace="http://ereg.egov.bg/segment/0009-000001" schemaLocation="0009-000001_DocumentURI.xsd" />
  <xsd:import namespace="http://ereg.egov.bg/segment/0009-000002" schemaLocation="0009-000002_ElectronicServiceProviderBasicData.xsd" />
  <xsd:import namespace="http://ereg.egov.bg/segment/0009-000003" schemaLocation="0009-000003_DocumentTypeURI.xsd" />
  <xsd:import namespace="http://ereg.egov.bg/segment/0009-000004" schemaLocation="0009-000004_XMLDigitalSignature.xsd" />
  <xsd:import namespace="http://ereg.egov.bg/segment/0009-000005" schemaLocation="0009-000005_PersonNames.xsd" />
  <xsd:import namespace="http://ereg.egov.bg/segment/0009-000007" schemaLocation="0009-000007_ForeignCitizenNames.xsd" />
  <xsd:import namespace="http://ereg.egov.bg/segment/0009-000016" schemaLocation="0009-000016_ElectronicServiceApplicant.xsd" />
  <xsd:import namespace="http://ereg.egov.bg/value/R-1422" schemaLocation="R-1422_FarmObjectRecipientActing.xsd" />
  <xsd:import namespace="http://ereg.egov.bg/value/R-1002" schemaLocation="R-1002_BABHRegionalDirectionCode.xsd" />
  <xsd:import namespace="http://ereg.egov.bg/value/R-1004" schemaLocation="R-1004_BABHRegionalDirectionName.xsd" />
  <xsd:import namespace="http://ereg.egov.bg/segment/R-1372" schemaLocation="R-1372_AnimalHoldingAddressData.xsd" />
  <xsd:import namespace="http://ereg.egov.bg/value/R-1374" schemaLocation="R-1374_FarmObjectName.xsd" />
  <xsd:import namespace="http://ereg.egov.bg/segment/R-1420" schemaLocation="R-1420_BABHAnimalObjectData.xsd" />
  <xsd:import namespace="http://ereg.egov.bg/segment/R-1434" schemaLocation="R-1434_BABHFarmObjectApprovalData.xsd" />
  <xsd:import namespace="http://ereg.egov.bg/segment/0009-000073" schemaLocation="0009-000073_AISCaseURI.xsd"/>
  <xsd:element name="BABHFarmObjectRegistrationCertificate" type="BABHFarmObjectRegistrationCertificate" />
  <xsd:complexType name="BABHFarmObjectRegistrationCertificate">
    <xsd:annotation>
      <xsd:documentation xml:lang="bg">Удостоверение за регистрация на животновъден обект</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="DocumentTypeURI" type="dtu:DocumentTypeURI" minOccurs="0" />
      <xsd:element name="DocumentTypeName" type="dtn:DocumentTypeName" minOccurs="0" />
      <xsd:element name="DocumentURI" type="du:DocumentURI" minOccurs="0" />
      <xsd:element name="DocumentReceiptOrSigningDate" type="drsd:DocumentReceiptOrSigningDate" minOccurs="0" />
      <xsd:element name="ElectronicServiceProviderBasicData" type="espbd:ElectronicServiceProviderBasicData" minOccurs="0" />
      <xsd:element name="ElectronicServiceApplicant" type="esa:ElectronicServiceApplicant" minOccurs="0" />
      <xsd:element name="FarmObjectRecipientActing" type="fora:FarmObjectRecipientActing" minOccurs="0" />
      <xsd:element name="BABHRegionalDirectionCode" type="babhrdc:BABHRegionalDirectionCode" minOccurs="1" />
      <xsd:element name="BABHRegionalDirectionName" type="babhrdn:BABHRegionalDirectionName" minOccurs="1" />
      <xsd:element name="AnimalHoldingAddressData" type="ahad:AnimalHoldingAddressData" minOccurs="1" />
      <xsd:element name="FarmObjectName" type="fon:FarmObjectName" minOccurs="0" />
      <xsd:element name="BABHAnimalObjectData" type="babhaod:BABHAnimalObjectData" minOccurs="0" />
      <xsd:element name="BABHFarmObjectApprovalData" type="babhfoad:BABHFarmObjectApprovalData" minOccurs="0" />
      <xsd:element name="AISCaseURI" type="acu:AISCaseURI" minOccurs="0"/>
      <xsd:element name="Official" minOccurs="0">
        <xsd:complexType>
          <xsd:choice>
            <xsd:element name="PersonNames" type="pn:PersonNames" />
            <xsd:element name="ForeignCitizenNames" type="fcn:ForeignCitizenNames" />
          </xsd:choice>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="XMLDigitalSignature" type="xds:XMLDigitalSignature" minOccurs="0" />
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>